<section class="container">
	<div class="card-box">
		<div class="panel">
			<div class="panel-title">
				<h1 class="m-t-10 header-title">Documentos</h1>
			</div>
			<div class="panel-body">
				<% @documents.each do |d| %>
					<tag>Professor: </tag> <%= d.teacher %>
					<tag>Disciplina: </tag> <%= d.subject %>
					<tag>Ano: </tag> <%= d.year %>
					<tag>Tipo: </tag> <%= d.typedoc %>
					<tag>Arquivo: </tag> <%= link_to "PDF", controller: "search", action: "show", id: d.id %>
					<tag>Tags: </tag> 
					<% d.tags.each do |l| %>
						<%= l.nome %>
					<% end %>	
				<% end %>
			</div>
		</div>
	</div>
</section>
