<h1>EDITAR DOCUMENTO</h1><br>
<%= form_for :document, :url => { :action => "update" } do |f| %>
	<tag>Professor: </tag> <%= f.text_field :teacher %><br>
	<tag>Disciplina: </tag> <%= f.text_field :subject %><br>
	<tag>Ano: </tag> <%= f.number_field :year %><br>
	<tag>Tipo: </tag> <%= f.text_field :typedoc %><br>
	<br>
	
	<%= submit_tag "Update" %>
<% end %>