<h1>UPLOAD DO DOCUMENTO</h1><br>
<%= form_for :document, :url => { :action => "create" } do |f| %>

	<!-- <tag>Professor: </tag> <%= f.text_field :teacher %><br>
	<tag>Disciplina: </tag> <%= f.text_field :subject %><br>
	<tag>Ano: </tag> <%= f.number_field :year %><br>
	<tag>Tipo: </tag> <%= f.text_field :typedoc %><br>
	<tag>Arquivo: </tag> <%= f.file_field :datafile %><br>
	<tag>Tags: </tag> 
	<%= f.text_field :tags0 %>
	<%= f.text_field :tags1 %> -->
	<!--<tag>Nome do Documento:</tag> <%= f.text_field :name %><br>
	<tag>Diretorio:</tag> <%= f.number_field :directory_id %><br>-->

	<br>
	
	<%= submit_tag "Create" %>
<% end %>

<%= button_to "Logout", destroy_user_session_path, method: :delete %>
