<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
    <title>FarolRails</title>
    <link rel="icon" href="<%= asset_path('farol.png') %>">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="farol-nav">
      <div class="container-fluid farol-nav__content">
        <div class="farol-nav__content__header col-xs-2">
          <img class="logo-img" src="<%= asset_path('farol.png') %>">
          <a href="/" class="logo-text"><span>FAROL</span></a>
        </div>
        <div class="farol-nav__content__buttons">
          <div class="farol-nav__content__buttons__item">
            <%= link_to "Login", document_path %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </nav>
    <div class="farol-body">
      <%= yield %>
    </div>
  </body>
</html>
