<h1>Moderador</h1>
<br>
<h3>Provas aprovadas:</h3>
<br>
<% @documents.each do |d| %>
	<tag>Professor: </tag> <%= d.teacher %>
	<tag>Disciplina: </tag> <%= d.subject %>
	<tag>Ano: </tag> <%= d.year %>
	<tag>Tipo: </tag> <%= d.typedoc %>
	<tag>Arquivo: </tag> <%= link_to "PDF", controller: "search", action: "show", id: d.id %>
	<br>
	<%= button_to "Editar", {action: "edit", controller: "document", id: d.id }, method: :get %>
	<%= button_to "Deletar", { action: "delete", controller: "document", id: d.id }, method: :delete, data: { confirm: "are you sure?" } %>
	<br>
<% end %>
